{
  "name": "postg-connector-ipca-gold",
  "config": {
    "connector.class": "io.confluent.connect.jdbc.JdbcSourceConnector",
    "tasks.max": "1",
    "connection.url": "jdbc:postgresql://postgres:5432/postgres",
    "connection.user": "postgres",
    "connection.password": "postgres",
    "mode": "bulk",
    "timestamp.column.name": "Data_Base",
    "table.whitelist": "dadostesouroipca_gold",
    "topic.prefix": "postgres-",
    "validate.non.null": "false",
    "poll.interval.ms": 5000
  }
}

